trunk
.htaccess
**/.htaccess
src/.htaccess
.c9revisions
*.sublime-*
.idea/
.vscode
**/.vscode
**/.vscode/*
src/.vscode
*.tgz
**/*.tgz
beta/*
distrib/docs.zip
distrib/docs
distrib/jsxgraphcore.js*
distrib/jsxgraphsrc.js*
distrib/jsxgraphcore.mjs*
distrib/jsxgraphsrc.mjs*
distrib/jsxgraph.zip
JSXCompressor/jsxcompressor.min.js
build/bin/*
src/require.js
node_modules
tmp/*
doc/jsdoc-tk/template/static/jquery.min.js
doc/jsdoc-tk/template/static/jsxgraphcore.js
doc/jsdoc-tk/template/static/jsxgraph.css
html-report
HOWTO-RELEASE.md
releasetxt.md

