trunk
.htaccess
.c9revisions
*.sublime-*
.idea/
distrib/jsxgraphcore.js*
distrib/jsxgraphsrc.js*
distrib/jsxgraphcore.mjs*
distrib/jsxgraphsrc.mjs*
build/bin/*
src/require.js
package-lock.json
node_modules
tmp/*
doc/jsdoc-tk/template/static/jquery.min.js
doc/jsdoc-tk/template/static/jsxgraphcore.js
doc/jsdoc-tk/template/static/jsxgraph.css
html-report/
