# Exclude everything
*
# Allow all files from the src folder
!src/*
!src/*/*
# Allow all JavaScript files from the distrib folder
!distrib/*.js
!distrib/*.ts
!distrib/*.css
!distrib/*/*.js
# Allow all files from the build folder
!build/*
!build/*/*
