<?js
    var data = obj;
    var self = this;

    data.forEach(function(example) {
?>
        <li>
    <?js
        if (example.caption) {
    ?>
            <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>

    <?js= ('<pre class="prettyprint"><code>' + example.code + '</code></pre>')
            .replace("</pre><div ", "</code></pre><div ")
            .replace("</script><pre></code></pre>", "</script>")
    ?>

        </li>
    <?js
        });
    ?>