a:link, a:visited	{ border:0; text-decoration: none; color: #003168; font-weight: bold; font-size: 10px; }
a:hover				{ border:0; text-decoration: none; color: #0683FF; font-weight: bold; }
img					{ border:0; }

html, body, td		{ font-family: Courier New, Sans-serif; font-size: 11px; }
table.debug,
	table.print		{ width: 100%; border: 1px solid #707070 ; margin-bottom: 5px; }
table.print td		{ text-align: center; white-space: nowrap; }

hr					{ line-height: 1px; color: black; }
#output, #js_code,
	#parsetree		{ height: 200px; border-top: 1px solid #707070 ;
						border-left: 1px solid #707070 ; padding: 10px; overflow: scroll; }
#js_code			{ height: 300px; width: 100%; }
.elem_title			{ text-align: center; font-size: 11px; font-weight: bold; 
						 color: white; height: 15px;
							background-image: url( "img/back.png" );
								background-repeat: repeat-x; }

#progname			{ font-size: 18px; font-weight: bold; margin: 0; padding: 0; text-align: center; }
#version			{ font-size: 14px; font-weight: bold; margin: 0; padding: 0; text-align: center; }
#copyright			{ font-size: 12px; font-weight: bold; margin: 0; padding: 0; text-align: center; }
#visit_us			{ font-size: 12px; color: #bdbdbd; margin: 0; padding: 0; text-align: center; }		
#copyrightinfo		{ border: 3px solid black; font-family: Verdana, Helvetica, Arial, Sans-serif; }

td.node_name		{ font-family: Courier New, Helvetica, Sans-serif; font-size: 11px; padding-left: 10px; }
td.node_name span	{ color: rgb( 2, 143, 65 ); font-weight:bold; }

#popupcontent		{ position: absolute; visibility: hidden; overflow: hidden; border:1px solid #CCC; background-color:#F9F9F9; border:1px solid #333; padding:5px; overflow: scroll; }