.index-item {
    padding: 5px;
    margin: 2px;
    border: 1px solid #444;
    width: 160px;
    color: white;
    float: left;
    background: none;
}

.index-item:hover {
    background-color: #444;
    border: 1px solid white;
}